// banner
.banner {
  padding: 20px 0 50px;
}

.feature-card {
  border-radius: 10px;
  padding: 20px;
  transition: .2s ease;
  background-color: $white;

  &:hover {
    @extend .shadow;
  }

  i {
    font-size: 30px;
    color: $primary-color;
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  .feature-card {
    background-color: $black;

    i {
      color: $primary-color-dark;
    }
  }
}

.footer-list a {
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

@media (prefers-color-scheme: dark) {
  .footer-list a {
    color: $text-color-dark;

    &:hover {
      color: $primary-color-dark;
    }
  }
}

.social-icons a {
  color: $primary-color;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  display: block;

  &:hover {
    color: $white;
    background-color: $primary-color;
  }
}

@media (prefers-color-scheme: dark) {
  .social-icons a {
    color: $primary-color-dark;
    border: 1px solid $primary-color-dark;

    &:hover {
      color: $white;
      background-color: $primary-color-dark;
    }
  }
}

// blog post
a.post-title {
  color: $text-color;
  display: block;

  &:hover {
    color: $primary-color;
  }
}

@media (prefers-color-scheme: dark) {
  a.post-title {
    color: $text-color-dark;

    &:hover {
      color: $primary-color-dark;
    }
  }
}

.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }

  strong {
    font-weight: 600;
  }

  a {
    color: $text-color;
    border-bottom: 1px dotted $border-color;

    &:hover {
      color: $primary-color;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 5px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 12px 24px -6px rgba(45,67,121,.30) !important;
  }

  table td,
  table th {
    padding: 1.3rem;
    vertical-align: top;
    margin-bottom: 0;
    table-layout: fixed;
    overflow: hidden;
    word-wrap: break-word;
  }

  th,
  td {
    &:not(:last-of-type) {
      border-right: 1px solid $light;
    }
  }

  th {
    background: $light;
    font-weight: 700;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      //border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background-color: transparent;
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: "themify";
    font-weight: 900;
    content: "\e717";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $white;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $white;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $white;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $white;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }


  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $white;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

@media (prefers-color-scheme: dark) {

  a {
    color: $primary-color-dark;
    background-color: transparent;

  }

  .content {

    a {
      color: $text-color-dark;
      border-bottom: 1px dotted $border-color-dark;

      &:hover {
        color: $primary-color-dark;
      }
    }

    ul {
      li {
        &::before {
          background: $primary-color-dark;
        }
      }
    }

    table {
      box-shadow: 0 12px 34px -6px rgba(68,102,182,.30) !important;
    }

    th,
    td {
      &:not(:last-of-type) {
        border-right: 1px solid $black;
      }
    }

    th {
      background: $black;
    }

    thead {
      background: $black;

      tr {
        border-bottom: 1px solid $black;
      }
    }

    tbody {
      background-color: transparent;
    }

    .notices p::before {
      color: $black;
    }

    .notices.note p {
      border-top: 30px solid #6ab0de;
      background: $black;
    }

    .notices.note p::after {
      color: $black;
    }


    .notices.tip p {
      border-top: 30px solid #78C578;
      background: $black;
    }

    .notices.tip p::after {
      color: $black;
    }

    .notices.info p {
      border-top: 30px solid #F0B37E;
      background: $black;
    }

    .notices.info p::after {
      color: $black;
    }


    .notices.warning p {
      border-top: 30px solid #E06F6C;
      background: $black;
    }

    .notices.warning p::after {
      color: $black;
    }


    blockquote {
      color: $text-color-dark;
      border-left: 2px solid $primary-color-dark;
      background: $black;
    }
  }
}

// pagination
.pagination {
  margin-top: 30px;
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      background: $light;
      text-align: center;
      padding: 0;
      margin-right: 10px;
      border: 0;
      color: $text-color;

      &:hover {
        background: $primary-color;
        color: $white;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 5px;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pagination {
    .page-item {
      .page-link {
        color: $text-color-dark;

        &:hover {
          background: $primary-color-dark;
          color: $black;
        }
      }

      &.active {
        .page-link {
          background: $primary-color-dark;
          color: $black;
        }
      }
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 20px;

  li {
    display: inline-block;
    margin: 0 5px;

    &.slick-active {
      button {
        background-color: $primary-color;
      }
    }

    button {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      color: transparent;
      padding: 0;
      border: 1px solid $primary-color;
      background-color: transparent;
      transition: .2s ease;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .slick-dots {
    li {

      &.slick-active {
        button {
          background-color: $primary-color-dark;
        }
      }

      button {
        border: 1px solid $primary-color-dark;
      }
    }
  }
}

// pricing table
.col-recommended {
  margin: -2rem -1.5rem;
  z-index: 1;
  @include desktop {
    margin: 0;
    margin-bottom: 40px;
  }
}

.price{
  font-size: 50px;
  color: $text-color-dark;
}


.lead{
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .price{
    font-size: 50px;
    color: $text-color-dark;
  }
}

// testimonial
.testimonial {
  position: relative;
}

.testimonial .item i {
  color: $text-color;
  display: inline-block;
}

.testimonial .item .client-details {
  padding-bottom: 30px;
}

.testimonial .item .client-details p {
  color: $text-color;
  font-weight: 200;
  padding: 0 10%;
}

.testimonial .item .client-meta {
  margin-top: 8px;
  color: $text-color;
}

.testimonial .item .client-meta h4 {
  margin-bottom: 4px;
}

.testimonial .item .client-meta span {
  font-size: 12px;
}

.testimonial .item .client-thumb img {
  display: inline-block;
  border-radius: 100%;
  width: 90px;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .testimonial .item i {
    color: $text-color-dark;
  }

  .testimonial .item .client-details p {
    color: $text-color-dark;
  }

  .testimonial .item .client-meta {
    color: $text-color-dark;
  }
}

@media (prefers-color-scheme: dark) {
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=checkbox],
  input[type=number] {
    background-color: $dark;
    border: 1px solid $border-color-dark;

    &:focus {
    background-color: $dark;
    }
  }

  .input-group-text,
  .custom-select,
  .form-control {
    color: $text-color-dark;
    background-color: $dark;
    border: 1px solid $border-color-dark;

    &:focus {
    color: $text-color-dark;
    background-color: $dark;
    }
  }
}

@media (prefers-color-scheme: dark) {
  img.sponsor,
  .partner {
    filter: invert(100%) grayscale(100%) brightness(2.5);
  }
}

// portofolio
.portfolio-filter {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-filter button {
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  padding: 8px 5px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  color: $text-color;
  outline: none;
  background: none;
}

.portfolio-filter button:hover {
  border-bottom: 2px solid $primary-color ;
  color: $text-color;
}

.portfolio-filter button.active {
  border-bottom: 2px solid $primary-color;
  color: $text-color;
}

.portfolio-items-wrapper li {
  width: 32.33%;
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.portfolio-block:before {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(73, 76, 144, 0.7);
}

.portfolio-block:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-block:hover .caption h4 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-block:hover .caption {
  opacity: 1;
  visibility: visible;
}

.portfolio-block:hover .caption .search-icon {
  opacity: 1;
  visibility: visible;
}

.portfolio-block .caption {
  position: absolute;
  bottom: 10%;
  left: 10%;
  opacity: 0;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.portfolio-block .caption h4 {
  font-size: 20px;
  font-weight: 700;
}

.portfolio-block .caption h4 a {
  color: $light;
}

.portfolio-block .caption .search-icon {
  position: static;
  bottom: 50%;
  left: 50%;
  color: $light;
  display: inline-block;
  font-size: 50px;
  opacity: 0;
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  .portfolio-filter button {
    color: $text-color-dark;
  }

  .portfolio-filter button:hover {
    border-bottom: 2px solid $primary-color-dark ;
    color: $text-color-dark;
  }

  .portfolio-filter button.active {
    border-bottom: 2px solid $primary-color-dark;
    color: $text-color-dark;
  }

  .portfolio-block:before {
    background: rgba(73, 76, 144, 0.7);
  }

  .portfolio-block .caption h4 a {
    color: $dark;
  }

  .portfolio-block .caption .search-icon {
    color: $dark;
  }
}
