.nav-item {
  margin: 0;

  .nav-link {
    // text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  color: $text-color;
  background-color: transparent;
  font-weight: 700;
}

.dropdown-menu {
  border: 0;
  padding: 12px 12px;
  border-radius: 6px;
  background-color: $white;
  border: $white;
  box-shadow: 0 12px 24px -6px rgba(37,99,235,.30) !important;

  li {
    &:first-child {
      margin-top: 12px
    }

    &:last-child {
      margin-bottom: 12px
    }
  }

  .dropdown-item {
    padding: 12px 12px;
    font-weight: 400;
    color: $text-color;
    border-radius: 6px;

    &:focus,
    &:hover,
    &:active {
      color: $primary-color;
      background-color: $light;
    }

    &.active {
      color: $primary-color;
      background-color: transparent;
      &:focus,
      &:hover,
      &:active {
        background-color: $light;
      }
    }
  }
}
