body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background-color:darken($color: $primary-color, $amount: 10);
  color: $white;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 2px solid #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $body-color-dark;
    overflow-x: hidden;
  }

  ::selection {
    background-color:darken($color: $primary-color, $amount: 10);
    color: $white;
  }

  body::-webkit-scrollbar {
    width: .5rem;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    outline: 2px solid #fff;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
  border-top: 1px solid rgba(255,255,255,.2);
  }
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $border-color;
}

@media (prefers-color-scheme: dark) {
  .preloader {
    background-color: $body-color-dark;
  }

  a:hover {
    color: $border-color;
  }
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

@media (prefers-color-scheme: dark) {
  .border-default {
    border-color: $border-color-dark !important;
  }
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: .5;
  }
}

@media (prefers-color-scheme: dark) {
  .overlay {
   &::before {
    background-color: $white;
   }
  }
}

.bg-primary {
  background-color: $primary-color-dark !important;
}

@media (prefers-color-scheme: dark) {
  .bg-primary {
    background-color: $primary-color-dark !important;
  }
}

.bg-light {
  background-color: $light !important;
}

@media (prefers-color-scheme: dark) {
  .bg-light {
    background-color: $dark !important;
  }
}

.text-primary {
  color: $primary-color !important;
}

@media (prefers-color-scheme: dark) {
  .text-primary {
    color: $primary-color-dark !important;
  }
}

.rounded-lg{
  border-radius: 10px !important;
}

.shadow{
  box-shadow: 0 12px 24px -6px rgba(37,99,235,.10) !important;
}

@media (prefers-color-scheme: dark) {
  .shadow{
    box-shadow: 0 12px 34px -6px rgba(59, 130, 246,.30) !important;
  }
  .shadow-lg {
    box-shadow:0 1rem 3rem rgba(59, 130, 246,.50)!important;
  }
}

// form control

.form-control {
  &:focus {
    outline: 0;
    border-color: $primary-color;
    box-shadow: none;
  }

  &::placeholder {
    color: $text-color;
  }
}

@media (prefers-color-scheme: dark) {
  .form-control {
    &:focus {
      border-color: $primary-color-dark;
    }

    &::placeholder {
      color: $text-color-dark;
    }
  }
}

textarea.form-control {
  height: 100px !important;
}

.list-unstyled{
  li{
    margin-bottom: 10px;
  }
}

.check-mark{
  position: relative;
  padding-left: 0px;
  &::before{
    position: absolute;
    content: "+";
    color: $white;
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    left: -30px;
    top: 3px;
  }
}


@media (prefers-color-scheme: dark) {
  .check-mark{
    &::before{
      color: $black;
      background-color: $primary-color-dark;
    }
  }
}
