@media (prefers-color-scheme: dark) {

  /* Live chat */
  #livechat {
    #whatsapp-chat {
      background: $dark;
      box-shadow: 0 12px 24px -6px rgba(37, 99, 235, 0.3) !important;
    }

    a.show-chat {
      background: $primary-color-dark;
      color: $white;
      box-shadow: 0 12px 24px -6px rgba(37, 99, 235, 0.3) !important;
    }

    .header-chat {
      background: $primary-color-dark;
      color: $white;
    }

    .header-chat h3 {
      color: $white;
    }

    .header-chat p {
      color: $white;
    }

    .info-avatar:before {
      font-family: $icon-font;
      background: #23ab23;
      color: $black;
    }

    a.informasi:hover {
      background: $black;
    }

    a.informasi-static:hover {
      background: $black;
    }

    #get-label,
    span.chat-label {
      color: $text-color-dark;
    }

    #get-nama,
    span.chat-nama {
      color: $text-color-dark;
    }

    #get-label,
    #get-nama {
      color: $white;
    }

    .livechat-msg {
      color: $text-color-dark;
      border-top: 1px solid $dark;
      background: $dark;
    }

    textarea#chat-input {
      color: $white;
      background: $dark;

      a#send-it {
        color: $text-color;
        background: $black;
      }

      .first-msg {
        background: $dark;
      }

      .first-msg span {
        background: $light;
      }

      a.close-chat {
        color: $white;
      }
    }
  }
}
