$primary-color: #494c90;
$primary-color-dark: #98accb;
$text-color: #1d2d35;
$text-color-dark: #98a3ad;
$body-color: #fff;
$body-color-dark: #131516;
$border-color: #ececec;
$border-color-dark: #42494c;
$black: #292c2f;
$white: #fff;
$light: #e6e6e6;
$dark: #1a1d1e;

$primary-font: 'Open Sans', sans-serif;
$icon-font: 'themify-icons' ;
