{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form name="kerjasama" netlify-honeypot="bot-field" action="/sk-kerjasama" method="POST" data-netlify-recaptcha="true" data-netlify="true">
          <h4 class="mt-3">Institusi</h4>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nama Institusi</label>
            <div class="col-sm-8 input-group">
              <input type="text" class="form-control" name="nama-institusi" placeholder="" required="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Atas Nama</label>
            <div class="col-sm-8 input-group">
              <input type="text" class="form-control" name="atas-nama" placeholder="" required="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Institusi</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-institusi[]" required="true">
                <option selected value="individu">Individu</option>
                <option value="komunitas">Komunitas</option>
                <option value="studio">Studio</option>
                <option value="sekolah">Sekolah</option>
                <option value="universitas">Universitas</option>
                <option value="organisasi">Organisasi</option>
                <option value="pemerintah">Pemerintah</option>
                <option value="umkm">UMKM</option>
                <option value="lainnya">Lainnya</option>
              </select>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Bergerak dalam bidang</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="bergerak-dalam-bidang[]" required="true">
                <option selected value="konten-kreator">Konten Kreator</option>
                <option value="aktifis-dakwah">Aktifis Dakwah</option>
                <option value="aktifis-free-software">Aktifis Free Software</option>
                <option value="apparel">Apparel</option>
                <option value="e-course">E-Course</option>
                <option value="branding-desain">Branding Desain</option>
                <option value="pendidikan">Pendidikan</option>
                <option value="fotografer">Fotografer</option>
                <option value="font-kreator">Font Kreator</option>
                <option value="game-kreator">Game Kreator</option>
                <option value="ilustrasi-komik">Ilustrasi Komik</option>
                <option value="ilustrasi-buku-anak">Ilustrasi Buku Anak</option>
                <option value="industri">Industri</option>
                <option value="infrastruktur">Infrastruktur</option>
                <option value="logistik">Logistik</option>
                <option value="lingkungan-hidup">Lingkungan Hidup</option>
                <option value="logo-desain">Logo Desain</option>
                <option value="merchandise">Merchandise</option>
                <option value="percetakan">Percetakan</option>
                <option value="penerjemahan">Penerjemahan</option>
                <option value="software-house">Software House</option>
                <option value="travel">Travel</option>
                <option value="lainnya">Lainnya</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Alamat</label>
            <div class="col-sm-8 input-group">
              <input type="text" class="form-control" name="alamat" placeholder="" required="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Kab/Kota</label>
              <input type="text" class="form-control" name="kab-kota">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Provinsi</label>
              <input type="text" class="form-control" name="provinsi">
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Kode Pos</label>
              <input type="text" class="form-control" name="kode-pos">
            </div>
          </div>
          <h4 class="my-3">Kontak</h4>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email Institusi</label>
            <div class="col-sm-8 input-group">
              <input type="email" class="form-control" name="email-institusi" placeholder="" required="true">
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Nomer Telefon/HP</label>
            <div class="col-sm-8 input-group">
              <input type="number" class="form-control" name="nomer-telp-institusi" placeholder="" required="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Website (opsional)</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">https://</span>
              </div>
              <input type="text" class="form-control" name="website-institusi" aria-label="website-institusi"
                aria-describedby="inputWebsiteInstitusi" placeholder="">
            </div>
          </div>
          <h4 class="my-3">Kerjasama</h4>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Kerjasama</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-kerjasama[]" required="true">
                <option selected value="media-partner">Media Partner</option>
                <option value="kolaborasi">Kolaborasi</option>
                <option value="sponsorship">Sponsorship</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Durasi <br>(disepakati dari tanggal persetujuan)</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="durasi-kerjasama[]" required="true">
                <option selected value="1-tahun">1 Tahun</option>
                <option value="2-tahun">2 Tahun</option>
                <option value="3-tahun">3 Tahun</option>
                <option value="kondisinal">Kondisional</option>
              </select>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Tujuan dan Minat Bekerjasama</label>
            <div class="col-sm-8 input-group">
              <textarea name="tujuan-kerjasama" class="form-control" placeholder="Alasan Bermitra"
                required="true"></textarea>
            </div>
          </div>
          <h4 class="my-3">Benefit</h4>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tautan Benefit (opsional)</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">https://</span>
              </div>
              <input type="text" class="form-control" name="tautan-benefit" aria-label="tautan-benefit"
                aria-describedby="inputTautanBenefit" placeholder="">
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Paket Benefit 1</label>
            <div class="col-sm-8 input-group">
              <textarea name="paket-benefit-1" class="form-control" placeholder="" required="true"></textarea>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Paket Benefit 2 (opsional)</label>
            <div class="col-sm-8 input-group">
              <textarea name="paket-benefit-2" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Paket Benefit 3 (opsional)</label>
            <div class="col-sm-8 input-group">
              <textarea name="paket-benefit-3" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Paket Benefit 4 (opsional)</label>
            <div class="col-sm-8 input-group">
              <textarea name="paket-benefit-4" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Paket Benefit 5 (opsional)</label>
            <div class="col-sm-8 input-group">
              <textarea name="paket-benefit-5" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <h4 class="my-3">Sosial Media (opsional)</h4>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Facebook</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">fb.com/</span>
              </div>
              <input type="text" class="form-control" name="facebook" aria-label="facebook"
                aria-describedby="inputFacebook" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Instagram</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" name="instagram" aria-label="instagram"
                aria-describedby="inputInstagram" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Twitter</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" name="twitter" aria-label="twitter"
                aria-describedby="inputTwitter" placeholder="">
            </div>
          </div>
          <div class="form-group row mt-3 mb-5">
            <label class="col-sm-4 col-form-label">Telegram</label>
            <div class="col-sm-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" name="telegram" aria-label="telegram"
                aria-describedby="inputTelegram" placeholder="">
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" name="data" value="ya, saya setuju"
                required="true">
              <label class="form-check-label" for="gridCheck">
                Saya telah menyetujui dan mematuhi <a href="/peraturan-layanan">peraturan layanan</a> & <a
                  href="/kebijakan-privasi">kebijakan privasi</a>.
              </label>
            </div>
          </div>
          <div class="mb-5">
            <div data-netlify-recaptcha="true"></div>
          </div>
          <div>
            <button type="submit" value="send" class="btn btn-primary">Kirim</button>
          </div>
        </form>
      </div>

      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
