{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form name="feedback" netlify-honeypot="bot-field" action="/sk-feedback" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-3" name="nama" placeholder="Boleh tahu nama lengkap Anda?" required="true">
          <input type="email" class="form-control mb-3" name="surel" placeholder="Punya Email aktif?" required="true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" name="telegram" aria-label="telegram" aria-describedby="inputTelegram" placeholder="Punya akun Telegram?" required="true">
          </div>
          <input type="text" class="form-control mb-3" name="asal" placeholder="Asal Studio/Lembaga/Institusi/Owner" required="true">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Institusi</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-institusi[]" required="true">
                <option selected value="individu">Individu</option>
                <option value="komunitas">Komunitas</option>
                <option value="studio">Studio</option>
                <option value="sekolah">Sekolah</option>
                <option value="universitas">Universitas</option>
                <option value="organisasi">Organisasi</option>
                <option value="pemerintah">Pemerintah</option>
                <option value="umkm">UMKM</option>
                <option value="lainnya">Lainnya</option>
              </select>
            </div>
          </div>
          <div class="form-group row mt-3">
            <label class="col-sm-4 col-form-label">Bergerak dalam bidang</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="bergerak-dalam-bidang[]" required="true">
                <option selected value="konten-kreator">Konten Kreator</option>
                <option value="aktifis-dakwah">Aktifis Dakwah</option>
                <option value="aktifis-free-software">Aktifis Free Software</option>
                <option value="apparel">Apparel</option>
                <option value="e-course">E-Course</option>
                <option value="branding-desain">Branding Desain</option>
                <option value="pendidikan">Pendidikan</option>
                <option value="fotografer">Fotografer</option>
                <option value="font-kreator">Font Kreator</option>
                <option value="game-kreator">Game Kreator</option>
                <option value="ilustrasi-komik">Ilustrasi Komik</option>
                <option value="ilustrasi-buku-anak">Ilustrasi Buku Anak</option>
                <option value="industri">Industri</option>
                <option value="infrastruktur">Infrastruktur</option>
                <option value="logistik">Logistik</option>
                <option value="lingkungan-hidup">Lingkungan Hidup</option>
                <option value="logo-desain">Logo Desain</option>
                <option value="merchandise">Merchandise</option>
                <option value="percetakan">Percetakan</option>
                <option value="penerjemahan">Penerjemahan</option>
                <option value="software-house">Software House</option>
                <option value="travel">Travel</option>
                <option value="lainnya">Lainnya</option>
              </select>
            </div>
          </div>
          <hr>
          <div>
          <p> Sedikit gambaran, LangitKetujuh OS merupakan sistem operasi berbasis voidlinux dengan kelengkapan aplikasi desain grafis yang uptodate dan tersedia font aset. Sekali pasang, dapat semua.</p>
          <p> Sebagai pengguna sistem operasi ini, bagaimana kesan pertama Anda dengan LangitKetujuh OS dan sudah berapa lama menggunakannya? </p>
          <textarea name="kesan-pertama" class="form-control mb-3" placeholder=""></textarea>
          </div>
          <p> Adakah fitur aplikasi atau depedensi yang perlu ditambahkan untuk versi selanjutnya? </p>
          <textarea name="fitur-baru" class="form-control mb-3" placeholder=""></textarea>
          <p> Bagaimana performa LangitKetujuh OS. Ringan, biasa saja atau berat dalam kondisi tertentu? </p>
          <textarea name="performa-sistem" class="form-control mb-3" placeholder=""></textarea>
          <p> Apakah Anda menemukan kesalahan sistem atau bug di Sistem operasi ini? jika ada, boleh diceritakan. </p>
          <textarea name="kesalahan-bug" class="form-control mb-3" placeholder=""></textarea>
          <p> Apa yang Anda tidak sukai dari LangitKetujuh OS? </p>
          <textarea name="ketidaksukaan" class="form-control mb-3" placeholder=""></textarea>
          <p> Adakah saran untuk Layanan Hallo baik di Telegram dan Email agar lebih baik lagi? </p>
          <textarea name="layanan-cs" class="form-control mb-3" placeholder=""></textarea>
          <p> Saat ini Komunitas LangitKetujuh OS sudah terbentuk. Jika dibandingkan dengan Layanan CS manakah yang terbaik?</p>
          <textarea name="komunitas" class="form-control mb-5" placeholder=""></textarea>
          <div class="form-group mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck"  name="data" value="ya, saya setuju" required="true">
                <label class="form-check-label" for="gridCheck">
                Saya telah menyetujui dan mematuhi <a href="/peraturan-layanan">peraturan layanan</a> & <a href="/kebijakan-privasi">kebijakan privasi</a>.
                </label>
              </div>
          </div>
          <div class="mb-5">
            <div data-netlify-recaptcha="true"></div>
          </div>
        <div>
        <button type="submit" value="send" class="btn btn-primary">Kirim</button>
        </div>
        </form>
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
