{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form name="feedback" netlify-honeypot="bot-field" action="/sk-feedback" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-3" id="nama" name="nama" placeholder="Boleh tahu nama lengkap Anda?" required="true">
          <input type="email" class="form-control mb-3" id="surel" name="surel" placeholder="Punya Email aktif?" required="true">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="telegram">@</span>
            </div>
            <input type="text" class="form-control" id="telegram" name="telegram" aria-label="telegram" aria-describedby="inputTelegram" placeholder="Punya akun Telegram?" required="true">
          </div>
          <div>
          <p> Sedikit gambaran, LangitKetujuh OS merupakan sistem operasi berbasis voidlinux dengan kelengkapan aplikasi desain grafis yang uptodate dan tersedia font aset. Sekali pasang, dapat semua.</p>
          <p> Sebagai pengguna sistem operasi ini, bagaimana kesan pertama Anda dengan LangitKetujuh OS dan sudah berapa lama menggunakannya? </p>
          <textarea name="kesan-pertama" id="kesan-pertama" class="form-control mb-3" placeholder=""></textarea>
          </div>
          <p> Adakah fitur aplikasi atau depedensi yang perlu ditambahkan untuk versi selanjutnya? </p>
          <textarea name="fitur-baru" id="fitur-baru" class="form-control mb-3" placeholder=""></textarea>
          <p> Bagaimana performa LangitKetujuh OS. Ringan, biasa saja atau berat dalam kondisi tertentu? </p>
          <textarea name="performa-sistem" id="performa-sistem" class="form-control mb-3" placeholder=""></textarea>
          <p> Apakah Anda menemukan kesalahan sistem atau bug di Sistem operasi ini? jika ada, boleh diceritakan. </p>
          <textarea name="kesalahan-bug" id="kesalahan-bug" class="form-control mb-3" placeholder=""></textarea>
          <p> Apa yang Anda tidak sukai dari LangitKetujuh OS? </p>
          <textarea name="ketidaksukaan" id="ketidaksukaan" class="form-control mb-3" placeholder=""></textarea>
          <p> Adakah saran untuk Layanan Hallo baik di Telegram dan Email agar lebih baik lagi? </p>
          <textarea name="layanan-cs" id="layanan-cs" class="form-control mb-3" placeholder=""></textarea>
          <p> Saat ini Komunitas LangitKetujuh OS sudah terbentuk. Jika dibandingkan dengan Layanan CS manakah yang terbaik?</p>
          <textarea name="komunitas" id="komunitas" class="form-control mb-5" placeholder=""></textarea>
          <div class="form-group mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck"  name="data" value="ya, saya setuju" required="true">
                <label class="form-check-label" for="gridCheck">
                Saya telah menyetujui dan mematuhi <a href="/peraturan-layanan">peraturan layanan</a> & <a href="/kebijakan-privasi">kebijakan privasi</a>.
                </label>
              </div>
          </div>
        <div>
        <button type="submit" value="send" class="btn btn-primary">Kirim</button>
        </div>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
