{{ if site.Data.banner.enable }}
{{ with site.Data.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1 class="mb-3 mt-5">{{ .title | markdownify }}</h1>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <div><a href="{{ .link | safeURL }}" class="btn btn-primary"><span class="ti-target"></span> {{ .label }}</a>
        </div>
        {{ end }}
        {{ end }}
        {{with .image}}<img src="{{ . | absURL }}" class="img-fluid mt-5" alt="Tampilan LangitKetujuh OS"
          width="750px">{{end}}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}