{{ if site.Data.sponsor_logo_slider.enable }}
{{ with site.Data.sponsor_logo_slider }}
<section class="section pb-0">
  <div class="container">
    <div class="col-lg-8 mx-auto text-center">
      <h3 class="section-title">{{ .title | markdownify }}</h3>
    </div>
    <div class="sponsor-logo-slider d-flex align-items-center mx-auto">
      {{ range site.Data.sponsor_logo_slider.item }}
      {{ if and ( ne .URL "" ) ( ne .URL "#" ) }}
      <a href="{{ .URL | safeURL }}" class="text-center d-block outline-0 p-4 mx-auto"><img class="d-unset img-fluid mx-auto sponsor" src="{{.logo | absURL}}" alt="Sponsor LangitKetujuh OS"></a>
      {{ else }}
      <span class="text-center d-block outline-0 p-4 mx-auto"><img class="d-unset img-fluid mx-auto sponsor" src="{{.logo | absURL}}" alt="Sponsor LangitKetujuh" height="100px"></span>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
