{{ if site.Data.testimonial.enable }}
{{ with site.Data.testimonial }}
  <section class="testimonial section bg-light" id="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
        </div>
        <div class="col-lg-12">
          <div class="testimonial-slider">
            {{ range .testimonial_item }}
            <div class="item text-center">
              <i class="{{.icon}} mb-3"></i>
              <div class="client-details">
                <p>{{ .quote }}</p>
              </div>
              <div class="client-thumb">
                <img src="{{ .clientThumb | absURL }}" class="img-fluid" alt="Testimoni LangitKetujuh OS" width="90px">
              </div>
              <div class="client-meta">
                <h4>{{ .clientName }}</h4>
                <span>{{ .clientDesignation }}</span>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
