{{ define "main" }}

{{ partial "page-header.html" . }}

<!-- call to action -->
{{ if .Params.download.enable }}
{{ with .Params.download }}
<section class="section">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center text-md-left">
      <div class="col-lg-8 mx-auto">
        {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link_amd | absURL }}" class="btn btn-primary mb-2 mr-2"><i class="fa-solid fa-download"></i> {{ .label_amd }}</a>
        <a href="{{ .link_intel | absURL }}" class="btn btn-primary mb-2 mr-2"><i class="fa-solid fa-download"></i> {{ .label_intel }}</a>
        <a href="{{ .link_amd_nvidia | absURL }}" class="btn btn-primary mb-2 mr-2"><i class="fa-solid fa-download"></i> {{ .label_amd_nvidia }}</a>
        <a href="{{ .link_intel_nvidia | absURL }}" class="btn btn-primary mb-2 mr-2"><i class="fa-solid fa-download"></i> {{ .label_intel_nvidia}}</a>
        <a href="{{ .sha256sum | absURL }}" class="btn btn-outline-primary mb-2 mr-2" download><i class="fa-solid fa-circle-check"></i> {{ i18n `sha256sum` }}</a>
        {{ end }}
        {{ end }}
        {{ if .mirror.enable }}
        {{ with .mirror }}
        <a href="{{ .link_mirror_auto | absURL }}" class="btn btn-outline-primary mb-2 mr-2" target="blank"><i class="fa-solid fa-download"></i> {{ .label_mirror_auto }}</a>
        <a href="{{ .link_mirror_1 | absURL }}" class="btn btn-outline-primary mb-2 mr-2" target="blank"><i class="fa-solid fa-download"></i> {{ .label_mirror_1 }}</a>
        <a href="{{ .link_mirror_2 | absURL }}" class="btn btn-outline-primary mb-2 mr-2" target="blank"><i class="fa-solid fa-download"></i> {{ .label_mirror_2 }}</a>
        {{ end }}
        {{ end }}
        <a href="{{ .Permalink }}/../../../contribute/#donation" class="btn btn-outline-primary mb-2 mr-2"><i class="fa-solid fa-heart"></i> {{ i18n `donate` }}</a>
        <div class="mt-4">
          <p>{{ i18n `community-join` }}</p>
          <a href="https://t.me/langitketujuh_os" class="btn btn-outline-primary btn-sm mb-2 mr-2" target="blank">Telegram</a>
          <a href="https://facebook.com/groups/langitketujuh.os" class="btn btn-outline-primary btn-sm mb-2 mr-2" target="blank">Facebook</a>
          <a href="https://follow.langitketujuh.id" class="btn btn-outline-primary btn-sm mb-2 mr-2" target="blank">{{ i18n `others` }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}
